# TEMA 1: Variables

# I. Datos Primitivos

## 1. Strings (str)
Son cades de caracteres

In [ ]:
#Declarando mis strings
mi_string = 'Mi primer strig'
mi_string_numero = '1'

nombre = 'Juanita'
apellido = 'Perez'

### 1.1 Imprimir Strings

In [15]:
print(mi_string)
print(mi_string_numero)

print(nombre, apellido)
print(nombre, apellido, sep=', ', end='!')

Mi primer strig
1
Juanita Perez
Juanita, Perez!

### 1.2  Concatener strings
(sumar strings)

In [18]:
nombre = 'Juanito'
apellido = 'Juan'
nombre_completo = nombre + ' ' + apellido + '!'
print(nombre_completo)

Juanito*Juan

## 2. Enteros (int)

In [19]:
# Declarando tipos de datos enteros
num1 = 6
num2 = 8

### 2.1 Operaciones aritmeticas

In [36]:
# Suma
resultado = num1 + num2
print(resultado)

# resta
resultado = num1 - num2
print(resultado)

# Multiplicar
resultado = num1 * num2
print(resultado)

# dividir
resultado = num1 / num2
print(resultado)

#Potencia
resultado = 2 ** 4
print(resultado)

#Raiz
resultado = 9 ** 0.5
print(resultado)

14
-2
48
0.75
16
3.0

## 3. Floats (float)
Son variables de tipo decimal o que pertenecen a los reales

In [37]:
# Declarando desimales
decimal1 = 3.5
decimal2 = 4.6

### 3.1 Operaciones aritmitas
(Tarea: hacer lo de enteros)

### 3.2 Redondeo

In [53]:
numero = 2 ** 0.5
numero_redondeado = round(numero, 3)
print(numero_redondeado)

# Si quiero que el numero redondeado se guarde en la misma variable
numero = round(numero, 4)
print(numero)

1.414
1.4142

## 4. Booleanos (bool)

In [66]:
# Declarando variables de tipo bool
bool1 = False
bool2 = True

p = True
q = False
r = True

### 4.1 Operaciones lógicas

In [92]:
# O (or)
print(bool1 or bool2)
print( False or False )

# Y (and)
print( bool1 and bool2 )
print ( True and True )

# Anidando
print( p and q and r )
print( p and q or r )

True
False
False
True
False
True

### Tarea: probar lo siguiente
* Operador de comparación == 
* Operador mayor que >
* Operador menor que <
* Operador mayor igual que => 
* Operador menor igual que <= 
* Operador difernte que != 
* Operador modulo % , me calcula el residuo

Recuara que no neseariamente tiene que ser datos de tipo Bool

In [12]:
print('5 es igual 5:', 5 == 5)
print('5 != 5:', 5 != 5)
print('5 > 5:', 5 > 5)
print('6 es mayor o igual que 5:', 6 >= 5)

print('8 % 5:', 8 % 5)

5 es igual 5: True
5 != 5: False
5 > 5: False
6 es mayor o igual que 5: True
8 % 5: 3

### Tipo de dato de una variable

In [41]:
nombre = 'Juanita'
edad = 30
talla = 165.22 # cm
genero = False # True: varon; False: mujer

print('El tipo de dato de nombre es: ', type(nombre))
print('El tipo de dato de edad es: ', type(edad))
print('El tipo de dato de talla es: ', type(talla))
print('El tipo de dato de genero es: ', type(genero))

print('La cantidad de caracters de nombre es:', len(nombre))

El tipo de dato de nombre es:  <class 'str'>
El tipo de dato de edad es:  <class 'int'>
El tipo de dato de talla es:  <class 'float'>
El tipo de dato de genero es:  <class 'bool'>
La cantidad de caracters de nombre es: 7

# II. Datos estructurados
Son conjuntos de datos del mismo tipo o en casos especiales de diferentes tipos

## 1. Listas
llamados también Arreglos, Vectores

In [89]:
#             0       1         2         3
nombres = ['Juan', 'Pedro', 'Juanita', 'Lizeth']
#            -4      -3        -2        -1

# tipo de dato de la variable personas
print('El tipo de dato de personas es: ', type(nombres))

# longitud: es la cantidad de datos
print('la longitud de la lista nombres: ', len(nombres))

# Imprimiendo el dato en la posicion 2
print('Nombre en la posicion 2 contiene: ', nombres[1],)

# Imprimiendo el ultimpo elemento de la lista
print('Imprimiendo el ultimo elemento de la lista es: ', nombres[len(nombres) - 1])
# Haciendo de una manera mas elegante
print('Impriemendo el ultimo nombre de manera mas elegante: ', nombres[-1])
print('Imprimiendo el penultimo: ', nombres[-2])

El tipo de dato de personas es:  <class 'list'>
la longitud de la lista nombres:  4
Nombre en la posicion 2 contiene:  Pedro
Imprimiendo el ultimo elemento de la lista es:  Lizeth
Impriemendo el ultimo nombre de manera mas elegante:  Lizeth
Imprimiendo el penultimo:  Juanita

### Agregando datos.

In [87]:
# Agregando nombres a la lista:
nombres = nombres + ['Maria'] # <- Que estamos gastando demaciados recursos

print('Agregando el nuevo nombre: ', nombres)

# resumiendo
nombres += ['Ronal'] # <- Que estamos gastando demaciados recursos
print('Agregado el nuevo nombre: ', nombres)

# la mejor forma es anadir
nombres.append('Julio')
print('Agregando con append', nombres)

Agregando el nuevo nombre:  ['Juan', 'Ronal', 'Julio', 'Maria', 'Ronal', 'Maria']
Agregado el nuevo nombre:  ['Juan', 'Ronal', 'Julio', 'Maria', 'Ronal', 'Maria', 'Ronal']
Agregando con append ['Juan', 'Ronal', 'Julio', 'Maria', 'Ronal', 'Maria', 'Ronal', 'Julio']

### Quitando datos

In [77]:
nombres.pop() # <- quita el ultimo elemento

print('quitando el ultimo elemento: ', nombres)

nombres.pop(1) # <- quitando elemento en la posicion 1
print('quitando en la posisicon 1', nombres)

quitando el ultimo elemento:  ['Juan', 'Lizeth', 'Maria', 'Ronal', 'Julio', 'Maria', 'Maria', 'Ronal']
quitando en la posisicon 1 ['Juan', 'Maria', 'Ronal', 'Julio', 'Maria', 'Maria', 'Ronal']

In [88]:
# Ubucacion de un elemento
print(nombres.index('Maria'))

# Eliminar el primer elemento de la lista
nombres.remove('Maria')
print(nombres)

3
['Juan', 'Ronal', 'Julio', 'Ronal', 'Maria', 'Ronal', 'Julio']