# TEMA 1: Variables

# I. Datos Primitivos

## 1. Strings (str)
Son cades de caracteres

In [253]:
#Declarando mis strings
mi_string = 'Mi primer strig'
mi_string_numero = '1'

nombre = 'Juanita'
apellido = 'Perez'

### 1.1 Imprimir Strings

In [254]:
print(mi_string)
print(mi_string_numero)

print(nombre, apellido)
print(nombre, apellido, sep=', ', end='!')

Mi primer strig
1
Juanita Perez
Juanita, Perez!

### 1.2  Concatener strings
(sumar strings)

In [255]:
nombre = 'Juanito'
apellido = 'Juan'
nombre_completo = nombre + ' ' + apellido + '!'
print(nombre_completo)

Juanito Juan!

## 2. Enteros (int)

In [256]:
# Declarando tipos de datos enteros
num1 = 6
num2 = 8

### 2.1 Operaciones aritmeticas

In [257]:
# Suma
resultado = num1 + num2
print(resultado)

# resta
resultado = num1 - num2
print(resultado)

# Multiplicar
resultado = num1 * num2
print(resultado)

# dividir
resultado = num1 / num2
print(resultado)

#Potencia
resultado = 2 ** 4
print(resultado)

#Raiz
resultado = 9 ** 0.5
print(resultado)

14
-2
48
0.75
16
3.0

## 3. Floats (float)
Son variables de tipo decimal o que pertenecen a los reales

In [258]:
# Declarando desimales
decimal1 = 3.5
decimal2 = 4.6

### 3.1 Operaciones aritmitas
(Tarea: hacer lo de enteros)

### 3.2 Redondeo

In [259]:
numero = 2 ** 0.5
numero_redondeado = round(numero, 3)
print(numero_redondeado)

# Si quiero que el numero redondeado se guarde en la misma variable
numero = round(numero, 4)
print(numero)

1.414
1.4142

## 4. Booleanos (bool)

In [260]:
# Declarando variables de tipo bool
bool1 = False
bool2 = True

p = True
q = False
r = True

### 4.1 Operaciones lógicas

In [261]:
# O (or)
print(bool1 or bool2)
print( False or False )

# Y (and)
print( bool1 and bool2 )
print ( True and True )

# Anidando
print( p and q and r )
print( p and q or r )

True
False
False
True
False
True

### Tarea: probar lo siguiente
* Operador de comparación == 
* Operador mayor que >
* Operador menor que <
* Operador mayor igual que => 
* Operador menor igual que <= 
* Operador difernte que != 
* Operador modulo % , me calcula el residuo

Recuara que no neseariamente tiene que ser datos de tipo Bool

In [262]:
print('5 es igual 5:', 5 == 5)
print('5 != 5:', 5 != 5)
print('5 > 5:', 5 > 5)
print('6 es mayor o igual que 5:', 6 >= 5)

print('8 % 5:', 8 % 5)

5 es igual 5: True
5 != 5: False
5 > 5: False
6 es mayor o igual que 5: True
8 % 5: 3

### Tipo de dato de una variable

In [263]:
nombre = 'Juanita'
edad = 30
talla = 165.22 # cm
genero = False # True: varon; False: mujer

print('El tipo de dato de nombre es: ', type(nombre))
print('El tipo de dato de edad es: ', type(edad))
print('El tipo de dato de talla es: ', type(talla))
print('El tipo de dato de genero es: ', type(genero))

print('La cantidad de caracters de nombre es:', len(nombre))

El tipo de dato de nombre es:  <class 'str'>
El tipo de dato de edad es:  <class 'int'>
El tipo de dato de talla es:  <class 'float'>
El tipo de dato de genero es:  <class 'bool'>
La cantidad de caracters de nombre es: 7

# II. Datos estructurados
Son conjuntos de datos del mismo tipo o en casos especiales de diferentes tipos

## 1. Listas
llamados también Arreglos, Vectores

In [264]:
#             0       1         2         3
nombres = ['Juan', 'Pedro', 'Juanita', 'Lizeth']
#            -4      -3        -2        -1

# tipo de dato de la variable personas
print('El tipo de dato de personas es: ', type(nombres))

# longitud: es la cantidad de datos
print('la longitud de la lista nombres: ', len(nombres))

# Imprimiendo el dato en la posicion 2
print('Nombre en la posicion 2 contiene: ', nombres[1],)

# Imprimiendo el ultimpo elemento de la lista
print('Imprimiendo el ultimo elemento de la lista es: ', nombres[len(nombres) - 1])
# Haciendo de una manera mas elegante
print('Impriemendo el ultimo nombre de manera mas elegante: ', nombres[-1])
print('Imprimiendo el penultimo: ', nombres[-2])

El tipo de dato de personas es:  <class 'list'>
la longitud de la lista nombres:  4
Nombre en la posicion 2 contiene:  Pedro
Imprimiendo el ultimo elemento de la lista es:  Lizeth
Impriemendo el ultimo nombre de manera mas elegante:  Lizeth
Imprimiendo el penultimo:  Juanita

### Agregando datos.

In [265]:
# Agregando nombres a la lista:
nombres = nombres + ['Maria'] # <- Que estamos gastando demaciados recursos

print('Agregando el nuevo nombre: ', nombres)

# resumiendo
nombres += ['Ronal'] # <- Que estamos gastando demaciados recursos
print('Agregado el nuevo nombre: ', nombres)

# la mejor forma es anadir
nombres.append('Julio')
print('Agregando con append', nombres)

Agregando el nuevo nombre:  ['Juan', 'Pedro', 'Juanita', 'Lizeth', 'Maria']
Agregado el nuevo nombre:  ['Juan', 'Pedro', 'Juanita', 'Lizeth', 'Maria', 'Ronal']
Agregando con append ['Juan', 'Pedro', 'Juanita', 'Lizeth', 'Maria', 'Ronal', 'Julio']

### Quitando datos

In [266]:
nombres.pop() # <- quita el ultimo elemento

print('quitando el ultimo elemento: ', nombres)

nombres.pop(1) # <- quitando elemento en la posicion 1
print('quitando en la posisicon 1', nombres)

quitando el ultimo elemento:  ['Juan', 'Pedro', 'Juanita', 'Lizeth', 'Maria', 'Ronal']
quitando en la posisicon 1 ['Juan', 'Juanita', 'Lizeth', 'Maria', 'Ronal']

In [267]:
# Ubucacion de un elemento
print(nombres.index('Maria'))

# Eliminar el primer elemento de la lista
nombres.remove('Maria')
print(nombres)

3
['Juan', 'Juanita', 'Lizeth', 'Ronal']

In [268]:
# Agregando mas elementos a la lista
nombres.extend(['Pedro', 'Humberto', 'Rosa', 'Juanito'])
print(nombres)

['Juan', 'Juanita', 'Lizeth', 'Ronal', 'Pedro', 'Humberto', 'Rosa', 'Juanito']

In [269]:
print(nombres.count('Rosa')) # <- Devuelve las veces que se repite el dato

1

In [270]:
# ordenando los elemnetos
# si son numeros 1, 2, 3, ...
# si son letras a, b, c,
nombres.sort()
print(nombres)

['Humberto', 'Juan', 'Juanita', 'Juanito', 'Lizeth', 'Pedro', 'Ronal', 'Rosa']

In [271]:
# invirtiendo la lista
nombres.reverse()
print(nombres)

['Rosa', 'Ronal', 'Pedro', 'Lizeth', 'Juanito', 'Juanita', 'Juan', 'Humberto']

In [272]:
# Imprimiendo los 3 primeros datos
print(nombres[:3])

# imprimenod desde el elemento en la posicion 4
print(nombres[4:])

# Imprimiendo los elementos que estan del 2 al 7 (incluido este ultimo)
print(nombres[2:8])

# Imprimir los dos ultimos elementos
print(nombres[-2:])

# imprimir todo menos los 3 ultimos elementos
print(nombres[:-3])

# imprimer desde el tercer elemento hasta el penultimo
print(nombres[2:-1])

# imprimir desde el 5 elemento contando desde atras hasta el penultimo
print(nombres[-5:-1])

# Imprimir los elementos dejando 1 lista[start:end:step]
print(nombres[::3])

['Rosa', 'Ronal', 'Pedro']
['Juanito', 'Juanita', 'Juan', 'Humberto']
['Pedro', 'Lizeth', 'Juanito', 'Juanita', 'Juan', 'Humberto']
['Juan', 'Humberto']
['Rosa', 'Ronal', 'Pedro', 'Lizeth', 'Juanito']
['Pedro', 'Lizeth', 'Juanito', 'Juanita', 'Juan']
['Lizeth', 'Juanito', 'Juanita', 'Juan']
['Rosa', 'Lizeth', 'Juan']

### Usando `del`

In [273]:
# Eliminando el elemenot en la posicion 3

# del lista[start:end:step]
print(nombres)

del nombres[3]

print(nombres)

del nombres[-2:]
print(nombres)

['Rosa', 'Ronal', 'Pedro', 'Lizeth', 'Juanito', 'Juanita', 'Juan', 'Humberto']
['Rosa', 'Ronal', 'Pedro', 'Juanito', 'Juanita', 'Juan', 'Humberto']
['Rosa', 'Ronal', 'Pedro', 'Juanito', 'Juanita']

### uso de `in`

In [274]:
print(nombres)

'Rosa' in nombres

['Rosa', 'Ronal', 'Pedro', 'Juanito', 'Juanita']

True

## Coversion de tipos de datos
`datatype(variable)`

In [308]:
nombre = 'Elizabeth'

nombre_lista = list('Elizabeth')
print(nombre_lista)

nombre_completo = 'Juanita Martinez'
nombre_completo_lista = nombre_completo.split()
print(nombre_completo_lista)

frutas = 'pera, manzana, papaya, platano'
frutas_lista = frutas.split(', ')
print(frutas_lista)

# char a entero
print('el codigo acci de @ es:', ord('A'))

# Entero a char
print('Entero 65 a char', chr(64))

# Float -> int
print('Entero de 12.6: ', int(12.2))

# int -> float
print('entero 13 a float: ', float(13))

# bool -> int
print('int de True: ', int(True))

# int -> bool
print('bool de 13: ', bool(0))


nombres = ['Juan', 'Pedro', 'Juanita', 'Lizeth', 'Maria', 'Ronal', 'Julio', 'lizeth']


nombres_A= set(nombres)
nombres_B = {'Juan', 'Pedro', 'Juanita', 'Enrique', 'Toledo'}
print(nombres_A)
print(nombres_B)

print("\n============================================")
print("\nAlguanas operaciones con conjuntos")

print('A - B = ', nombres_A - nombres_B )
print('A U B = ', nombres_A | nombres_B )
print('A n B = ', nombres_A & nombres_B)
print('A ^ B ', nombres_A ^ nombres_B)

['E', 'l', 'i', 'z', 'a', 'b', 'e', 't', 'h']
['Juanita', 'Martinez']
['pera', 'manzana', 'papaya', 'platano']
el codigo acci de @ es: 65
Entero 65 a char @
Entero de 12.6:  12
entero 13 a float:  13.0
int de True:  1
bool de 13:  False
{'Juan', 'Ronal', 'Lizeth', 'Maria', 'Pedro', 'lizeth', 'Julio', 'Juanita'}
{'Toledo', 'Juan', 'Pedro', 'Enrique', 'Juanita'}

============================================

Alguanas operaciones con conjuntos
A - B =  {'Ronal', 'Lizeth', 'Maria', 'lizeth', 'Julio'}
A U B =  {'Juan', 'Ronal', 'Lizeth', 'Toledo', 'Maria', 'Pedro', 'Enrique', 'lizeth', 'Julio', 'Juanita'}
A n B =  {'Juan', 'Pedro', 'Juanita'}
A ^ B  {'Ronal', 'Maria', 'Enrique', 'lizeth', 'Julio', 'Lizeth', 'Toledo'}

## Diccionaros (dict)
```python
diccionario = {
    "clave1": valor1,
    "clave2": valor2,
    "clave3": valor3,
    "clave4": valor4,
    "clave5": valor5,
    "clave6": valor6,
    "clave7": valor7,
    "clave8": valor8,
    "clave9": valor9,
    "clave10": valor10,
}
```

In [316]:
Flash =  {
    'nombre': 'Barry',
    'poder': 'Super Rapido',
    'edad': 28,
    'sexo': True,
    'creador': 'Dc Comics',
    'estatura': 1.80,
    'amigos': ['Superman', 'Wonder Woman', 'Batman']
}

print(Flash)

# Accdiendo a los datos
print('\nSuperhero: ', Flash['nombre'])
print('Super poder: ', Flash['poder'] )
print('Edad: ', Flash['edad'])
print('Estatura: ', Flash['estatura'])

{'nombre': 'Barry', 'poder': 'Super Rapido', 'edad': 28, 'sexo': True, 'creador': 'Dc Comics', 'estatura': 1.8, 'amigos': ['Superman', 'Wonder Woman', 'Batman']}

Superhero:  Barry
Super poder:  Super Rapido
Edad:  28
Estatura:  1.8