In [1]:
# importar la lectura
import pandas as pd

In [8]:
# Leer una archivo
# df abrebiatura de dataframe
df = pd.read_csv('data/datos.csv')
df

   dni   nombre  edad
0   23     juan    20
1   24    pedro    30
2   32    maria    25
3   99     jose    40
4   28   Agusto    35

In [9]:
# Leer datos con separador difernete
df_coma = pd.read_csv('data/dataexe.csv', sep=";")
df_coma

   id   nombre  edad
0   1     mari    34
1   2  juanita    28
2   3     jose    24

In [ ]:
# Cuanto suman sus edades